.sidebar-offset {
	@media (min-width: $grid-float-breakpoint) {
		margin-left: 320px;
	}
}

.sidenav-fixed.sidenav-menu-slider {
	margin-top: 48px;

	@media (min-width: $grid-float-breakpoint) {
		margin-top: 60px;
		visibility: visible;
		width: 320px;
	}
}
